<div class="header">
    <i {{action 'changeDate' -1}} class="previous"> </i>
    <span {{action 'toggleGridMode'}}>{{displayText}}</span>
    <i {{action 'changeDate' 1}} class="next"> </i>
    <div class="clear"></div>
</div>
